builders = {
    "3ds": {
        "configure_args": [
            "--host=3ds",
            # Plugins are disabled currently because of
            # https://github.com/devkitPro/libogc/issues/17
            # "--enable-plugins",
            # "--default-dynamic"
        ],
        "env": {
            "CXX": "ccache arm-none-eabi-c++",
            "CXXFLAGS": "-isystem /opt/devkitpro/devkitARM/include",
            "LDFLAGS": "-L/opt/devkitpro/devkitARM/lib"
        }
    },
    # DS has no FPU so it is impossible to share libraries with 3DS, which does
    # "ds": {
    #     "configure_args": [
    #         "--host=ds",
    #         "--enable-plugins",
    #         "--default-dynamic"
    #     ],
    #     "env": {
    #         "CXX": "ccache arm-none-eabi-c++",
    #         "CXXFLAGS": "-isystem /opt/devkitpro/devkitARM/include",
    #         "LDFLAGS": "-L/opt/devkitpro/devkitARM/lib"
    #     }
    # },
    "gamecube": {
        "configure_args": [
            "--host=gamecube",
            # Plugins are disabled currently because of
            # https://github.com/devkitPro/libogc/issues/17
            # "--enable-plugins",
            # "--default-dynamic",
            "--enable-vkeybd"
        ],
        "env": {
            "CXX": "ccache powerpc-eabi-g++",
            "CXXFLAGS": "-isystem /opt/devkitpro/devkitPPC/include",
            "LDFLAGS": "-L/opt/devkitpro/devkitPPC/lib"
        },
        "package_make_target": "wiidist"
    },
    "wii": {
        "configure_args": [
            "--host=wii",
            # Plugins are disabled currently because of
            # https://github.com/devkitPro/libogc/issues/17
            # "--enable-plugins",
            # "--default-dynamic",
            "--enable-vkeybd"
        ],
        "env": {
            "CXX": "ccache powerpc-eabi-g++",
            "CXXFLAGS": "-isystem /opt/devkitpro/devkitPPC/include",
            "LDFLAGS": "-L/opt/devkitpro/devkitPPC/lib"
        },
        "package_make_target": "wiidist"
    }
}
